node_modules/
.env
dist/
build/
.cache/

# Hardhat
contracts/artifacts/
contracts/cache/
contracts/typechain-types/

# CRE
cre-workflow/.secrets
cre-workflow/dist/
stablepay-cre/stablepay-payroll/main.js
stablepay-cre/stablepay-payroll/main.wasm
stablepay-cre/stablepay-payroll/tmp.js

# Rust
backend/target/

# Frontend
frontend/.react-router/

# IDE
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
pgdata/

# Local logs
logs/
